h2{
	color:black;
}
nav ul{
	list-style-type:none;
	text-align: center;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: white;
}
nav a:active{
	color: blue;
}
nav{
	background-color: #0d2881;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	padding-top: 20px;
	margin: 5px;
}
footer{
	text-align: center;
	border-top: 1px solid black;
	padding: 20px;
	color: black;
	clear: both;
}
h1{
	text-align: center;
	color: white;
	
	line-height: 2;
	margin: 0;
	padding: 10px;
}
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 10px;
	background-color: beige;
}
main{
	max-width: 1000px;
	margin: 20px auto;
	padding: 10px;
}
td, th{
	border: .5px solid black;
	padding: 5px;
}
table{
	border-collapse: collapse;
	background-color: #eeeeee;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input, textarea{
	margin-bottom: 1em;
	display: block;
	border-radius: 3px;
	border: 1px solid white;
}
input[type=submit]{
	display: block;
	background-color: lightgray;
}
form{
	background-color: #00b4ed;
	border: 1px solid black;
	max-width: 375px;
	box-shadow: 1px 1px 2px black;
	margin: auto;
}
th{
	background-color: lightblue;
	font-weight: normal;
}
canvas{
	border:2px solid black;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 5px black;
    background-image: url(images/jungle2.jpg);
    margin: auto;
    display: block;
}
.logo{
	margin: 0 auto;
	display:block;
}
.resume{
	border: 1px solid #0d2881;
	margin:20px auto;
	max-width: 800px;
	padding:30px 7%;
	background-color: #ebd8be;
	box-shadow: 1px 2px 2px 1px;
}
.game-controls{
	text-align: center;
	margin-top: 15px;
}
.myButton{
	padding: 20px;
	background-color: #103a32;
	color: white;
	border: 2px solid;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 3px 3px;
}
.center-text{
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
.fa{
	font-size: 2rem;
}
.portfolio-text{
	font-style: italic;
	text-align: center;
}
.pacific, .animals{
	border: 1px solid;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 1px 1px black;
}
.col-sm-4{
	margin: auto;
}
.icons-row{
	display: flex;
}
.spotify-text{
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
.img-fluid-selfie{
	border: 1px solid;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 10px 9px 21px 1px rgba(0,0,0,0.75);
}
iframe{
	border: 2px solid;
	box-shadow: 10px 9px 21px 1px rgba(0,0,0,0.75);
}
.fa-envelope, .fa-linkedin-square{
	font-size: 1rem;
}
.fa-linkedin-square{
	color: blue;
}
.fa-envelope{
	color: darkslategray;
}
